<h2>Header</h2>
<section>
    <div>Name:</div>
    <div>
        <input type="text" value={{data.name}} [(ngModel)]="data.name"/>
    </div>
</section>
<section>
    <div>Job Title:</div>
    <div>
        <input type="text" value={{data.title}} [(ngModel)]="data.title"/>
    </div>
</section>
<section>
    <div>emailId:</div>
    <div>
        <input type="text" value={{data.email}} [(ngModel)]="data.email"/>
    </div>
</section>
<section>
    <div>Phone No:</div>
    <div>
        <input type="text" value={{data.phoneNumber}} [(ngModel)]="data.phoneNumber"/>
    </div>
</section>
<section>
    <div>Linkedin Profile:</div>
    <div>
        <input type="text" value={{data.linkedin}} [(ngModel)]="data.linkedin"/>
    </div>
</section>
<section>
    <div>Github URL:</div>
    <div>
        <input type="text" value={{data.github}} [(ngModel)]="data.github"/>
    </div>
</section>
<section>
    <div>Website/Blog:</div>
    <div>
        <input type="text" value={{data.website}} [(ngModel)]="data.website"/>
    </div>
</section>
