/* You can add global styles to this file, and also import other style files */
// @import url(./reset.scss);
@import url(./css/fonts.scss);
@import url(./css/site.scss);
@import url(./css/print.scss);

nav {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #FFF;
    position: fixed;
    width: 100%;
    top: 0;

    ul {
        margin: 0 10px;
        display: flex;
        align-items: center;
        li {
            height: 50px;
            display: flex;
            align-items: center;
            padding: 0 20px;
        }
        li:hover{
            background-color: RED;;
        }
    }
    a {
        color: #FFF;
        text-decoration: none;
    }
    p {
        margin: 0;
    }
}

input[type="text"] {
    width: 100%;
    padding: 5px;
}

.font-28 {
    font-size: 28px;
}
.flex {
    display: flex;
}

label + div{
    margin-bottom: 5px;
}

footer {
    background-color: #DDD;
    padding: 20px;
    text-align: center;
}