<div id="content">
    <app-preview-header [header]='resume.header'></app-preview-header>  

    <!-- <app-preview-objective [objective]='resume.objective'></app-preview-objective> -->

    <app-preview-aboutme [aboutme]='resume.aboutme'></app-preview-aboutme>

    <app-preview-skills [skills]='resume.skills'></app-preview-skills>

    <app-preview-experience [experience]='resume.experience'></app-preview-experience>

    <app-preview-projects [projects]='resume.projects'></app-preview-projects>

    <!-- <app-preview-personal-projects [personalProjects]='resume.personalProjects'></app-preview-personal-projects> -->

    <app-preview-education [education]='resume.educations'></app-preview-education>
</div>
